{# Home or fallback #}
{% extends "base.twig" %}

{% block content %}

	{# Include hero if on home page #}
	{% if is_front_page %}
		{% include 'components/hero.twig' %}
	{% endif %}

	<section id="our-story" class="h-screen">
		<div class="container">
			<h2 class="text-4xl font-bold">Our story</h2>
		</div>
	</section>

	<section id="create-your-bowl" class="h-screen">
		<div class="container">
			<h2 class="text-4xl font-bold">Create your bowl</h2>
		</div>
	</section>

	<section id="catering" class="h-screen">
		<div class="container">
			<h2 class="text-4xl font-bold">Catering</h2>
		</div>
	</section>

	<section id="contact-us" class="h-screen">
		<div class="container">
			<h2 class="text-4xl font-bold">Contact us</h2>
		</div>
	</section>
{% endblock %}
