{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-twig-melody"],
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.twig",
      "options": {
        "parser": "melody",
        "printWidth": 120,
        "twigAlwaysBreakObjects": false,
        "twigFollowOfficialCodingStandards": true
      }
    },
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}
